body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: #945711bd ;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    margin-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}



.foto{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: solid 1px black;
}


.modales {
    display: grid;
    height: 200px;
    width: 200px;
    grid-template: repeat(1, fr) / repeat(1, 1fr);
    grid-gap: 10px;
    text-align: center;
    margin: auto;
    left: 25%;
    align-items: center;
    justify-content: center;
  }

.bModal{
    text-decoration: none;
    border: solid .5px #945711bd ;
    border-radius: 7px;
    font-size: 30px;
    background-color: #945711bd;
    color: #fff;
}
.bModal:hover{
    background-color: #fff;
    color: #945711bd;
    border: solid .5px #945711bd ;
}
.bModal2{
    text-decoration: none;
    border: solid .5px #945711bd ;
    border-radius: 7px;
    font-size: 30px;
    background-color: #945711bd;
    color: #fff;
}
.bModal2:hover{
    background-color: #fff;
    color: #945711bd;
    border: solid .5px #945711bd ;
}
.bModal3{
    text-decoration: none;
    border: solid .5px #945711bd ;
    border-radius: 7px;
    font-size: 30px;
    background-color: #945711bd;
    color: #fff;
}
.bModal3:hover{
    background-color: #fff;
    color: #945711bd;
    border: solid .5px #945711bd ;
}


.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}
.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}
.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em ;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transform: var(--transition);
}
.modal__titulo{
    font-size: 2.5rem;
}
.modal__parrafo{
    margin-bottom: 10px;
}
.modal__img{
    width: 90%;
    max-width: 300px;
}
.modal__cerrado{
    text-decoration: none;
    color: #fff;
    background-color: #945711bd;
    padding: 1em 3em;
    border: 1px solid ;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
    border-radius: 10px;
    font-size: 20px;

}
.modal__cerrado:hover{
    color: #945711bd;
    background-color: #fff;

}

.modal2{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}
.modal2--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}
.modal2__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em ;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transform: var(--transition);
}
.modal2__titulo{
    font-size: 2.5rem;
}
.modal2__parrafo{
    margin-bottom: 10px;
}
.modal2__img{
    width: 90%;
    max-width: 300px;
}
.modal2__cerrado{
    text-decoration: none;
    color: #fff;
    background-color: #945711bd;
    padding: 1em 3em;
    border: 1px solid ;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
    border-radius: 10px;
    font-size: 20px;

}
.modal2__cerrado:hover{
    color: #945711bd;
    background-color: #fff;

}

.modal3{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}
.modal3--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}
.modal3__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em ;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transform: var(--transition);
}
.modal3__titulo{
    font-size: 2.5rem;
}
.modal3__parrafo{
    margin-bottom: 10px;
}
.modal3__img{
    width: 90%;
    max-width: 300px;
}
.modal3__cerrado{
    text-decoration: none;
    color: #fff;
    background-color: #945711bd;
    padding: 1em 3em;
    border: 1px solid ;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
    border-radius: 10px;
    font-size: 20px;

}
.modal3__cerrado:hover{
    color: #945711bd;
    background-color: #fff;

}